.learn{
    background-color: rgb(86, 86, 86);  
    
    height: 100vh; 
    display: grid;
    place-items: center ;
}
.learn h1{
    font-size: 5rem;
}
.btn{
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}